{{ set(this, 'title', name) }}
{% set flash = _AppHelper.getFlashMessages() %}

{% set messages = "" %}
{% for error in flash %}
    {% for k,ms in error %}
        {% for m in ms %}
            {% set messages = messages ~ k ~ ": " ~ m %}
        {% endfor %}
    {% endfor %}
{% endfor %}


{% set networkData = _Network.getNetworkData() %}
{% set config      = _Network.getThemeConfig() %}

<div class="container u-margin-top-60">
    
    <div class="row">
        <div class="col-12 col-md-7">

            <div class="c-error u-margin-bottom-60">
                <h1 class="c-error__title">Sorry, the page you are looking for can't be found.</h1>
                <p class="c-error__message"> {{messages}} </p>
                <a class="c-error__button c-button c-button--rounded c-button--blue-bordered" href="/">Back to Home</a>
            </div>
        
        </div>



        <div class="col-12 offset-md-1 col-md-4">
            {% if config['inventory']['adSpace']['hpage'][0] is defined %}
                <div class="j-adslot" id="{{config['inventory']['adSpace']['hpage'][0]}}" data-adshape="hpage"></div>
            {% endif %}
        </div>
    </div>
</div>
    
