{{ set(this, 'title', "Verify Email Address") }}
{% set config       = _Network.getThemeConfig() %}
<div class="login-page">
    <div class="container">
        <div class="tab-content forget_password">
            <div class="row">
                <div class="col-12 col-lg-7 text-center">
                    <h3 class="sub-heading">Email Verification</h3>
                    <p class="helper-text">
                        {% if success == '1' %}
                            Your email address has been verified successfully.
                        {% else %}
                            Verification of email address failed.
                        {% endif %}
                    </p>
                    <a href="{{_AppHelper.getLoginUrl()}}" class="button green">Back to login</a>
                </div>
                <div class="col-12 offset-lg-1 col-lg-4">
                    {% if config['inventory']['adSpace']['hpage'][0] is defined %}
                        <div class="j-adslot" id="{{config['inventory']['adSpace']['hpage'][0]}}" data-adshape="hpage"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
