
.o-body-container {
    @include margin-bottom(100);

    &__right-layout {
        height: 100%;
        border-top: 1px solid $offwhite;
        @include padding-top(20);
        @media #{$desktop-up}{
            float: right;
            width: 330px;
        }
        
    }

    @include responsive(md) {
        .o-body-container__right-layout {
            border-left: 1px solid $offwhite;
            border-top: none;
            @include padding-top(0);
            @include padding-left(20);
        }
    }

    &__forvideo {
        @include margin-bottom(0);
        background-color: $offwhite;
        @include padding-bottom(50);
    }
}