{% set logo = networkData.templatePath~'/static/images/logo.svg'%}

<footer class="c-footer c-footer-xs">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 p-0">
				<div class="c-footer__top"></div>
				<div class="c-footer__main">ddfd</div>
				<div class="c-footer__bottom">
					<div class="c-footer__bottom-p1"></div>
					<div class="c-footer__bottom-p2">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="c-footer__bottom-p2-container">
										<div class="c-footer__bottom__info">
											<div class="c-footer__bottom__info__copy">© White label magazine</div>
											<div class="c-footer__bottom__info__nav">
												<a href="javascript:;">Privacy Policy</a>
												<a href="javascript:;">Terms & Conditions</a>
											</div>
										</div>
										<div class="">
											<div class="u-generic-socialIcons">
												<a href="javascript:;" class="u-generic-socialIcons__item">
													<img src="{{networkData.templatePath}}/static/icons/fb-white.svg" alt="image"/>
												</a>
												<a href="javascript:;" class="u-generic-socialIcons__item">
													<img src="{{networkData.templatePath}}/static/icons/insta-white.svg" alt="image"/>
												</a>
												<a href="javascript:;" class="u-generic-socialIcons__item">
													<img src="{{networkData.templatePath}}/static/icons/twitter-white.svg" alt="image"/>
												</a>
												<a href="javascript:;" class="u-generic-socialIcons__item">
													<img src="{{networkData.templatePath}}/static/icons/vimeo-white.svg" alt="image"/>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
