{% set logo = networkData.templatePath~'/static/images/logo.svg'%}

<footer class="c-footer c-footer-xs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="c-footer__top">

                </div>
                <div class="c-footer__main"></div>
                <div class="c-footer__bottom"></div>
            </div>
        </div>
    </div>
</footer>