.c-digital-edition {
  &__button {
    @media #{$desktop-up} {
      display: block;
      position: absolute;
      bottom: 75px;
      left: 53px;
      z-index: 19;
      height: inherit;
      max-width: calc(100% - 410px);
    }
    @media #{$desktop} {
      max-width: calc(100% - 359px);
    }
    @media #{$tablet} {
      display: block;
      position: absolute;
      bottom: 75px;
      left: 40px;
      z-index: 19;
      height: inherit;
      max-width: calc(100% - 300px);
    }
    @media #{$mobile} {
      display: block;
      position: absolute;
      bottom: 63px;
      left: 30px;
      z-index: 19;
      min-width: 100px;
      height: inherit;
      max-width: calc(100% - 222px);
    }
  }
}
