
/* Begin footer style */

.c-footer {
    background: $white;
  
    &__top {
      margin-bottom: 30px;
      &-bar {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
  
        @media #{$tablet, $mobile} {
          @include flex-direction(column, vertical);
          @include align-items(flex-start);
          @include justify-content(flex-start);
        }
      }
    }
    &__logo {
      @media #{$tablet, $mobile} {
        margin-bottom: 30px;
      }
    }
  
    &__additionalInfo {
      @media #{$tablet, $mobile} {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        width: 100%;
      }
      .logout-btn {
        @media #{$mobile} {
          width: 100%;
        }
      }
  
      &-btns {
        @media #{$mobile} {
          width: 100%;
          .c-button {
            @include calc(width, "100% / 2 - 12px");
            + .c-button {
              margin-left: 24px;
            }
          }
        }
      }
    }
  
    &__address {
      border-top: 1px solid rgba($grey3, 0.5);
      padding: 20px 0;
  
      &__heading {
        @include font-size(14);
        line-height: 1.3;
        font-weight: $weightBold;
        color: $black;
        margin-bottom: 8px;
      }
  
      &__content {
        @include font-size(14);
        line-height: 1.3;
        color: $black;
        font-weight: $weightRegular;
        a {
          color: $black;
          text-decoration: none;
        }
  
        &.address {
          max-width: 150px;
        }
      }
    }
  
    &__main {
      border-top: 1px solid rgba($grey3, 0.5);
      padding: 25px 0 80px;
      @media #{$mobile} {
        padding: 25px 0 20px;
      }
      &__container {
        margin-bottom: 28px;
        @media #{$mobile} {
          margin-bottom: 20px;
        }
        h3 {
          color: $black;
          @include font-size(16);
          line-height: 1.5;
          max-width: 190px;
          font-weight: $weightBold;
          margin-bottom: 6px;
        }
      }
    }
    &__responsive {
      border-top: 1px solid rgba($grey3, 0.5);
      padding: 15px 0;
    }
    &__bottom {
        border-top: 1px solid rgba($grey3, 0.5);
        background: $white;
    
        &-p1 {
          padding: 25px 0;
          text-align: center;
    
          @media #{$mobile} {
            text-align: inherit;
          }
        }
        &__ack-heading {
          font-family: $secondaryFont;
          @include font-size(12);
          line-height: 1.33;
          font-weight: $weightBold;
          color: $black;
          @media #{$mobile} {
            @include font-size(16);
            line-height: 1.5;
          }
        }
    
        &__ack-content {
          color: $grey3;
          font-family: $secondaryFont;
          @include font-size(12);
          line-height: 1.33;
          font-weight: $weightRegular;
          font-style: italic;
          margin-top: 15px;
    
          @media #{$mobile} {
            font-style: inherit;
            @include font-size(16);
            line-height: 1.5;
          }
        }
    
        &-p2 {
          background-color: $black;
          min-height: 56px;
          @include flexbox;
          @include align-items(center);
    
          &-container {
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
          }
        }
    
        &__info {
          @include flexbox;
          @include align-items(center);
    
          &__copy {
            color: $white;
            @include font-size(12);
            line-height: 1.33;
            font-weight: $weightRegular;
          }
    
          &__nav {
            a {
              color: $white;
              @include font-size(12);
              line-height: 1.33;
              font-weight: $weightRegular;
              text-decoration: none;
              margin-left: 56px;
            }
          }
        }
    
        &__rightSide {
          @include flexbox;
          @include align-items(center);
    
          .desginer-info {
            margin-right: 40px;
            color: $white;
            @include font-size(12);

            a {
              color: $white;
              @include font-size(12);
              text-decoration: none;
              margin-left: 5px;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
    }
  }
  
  /* End footer style */