#signin {
    position:fixed;top:0;width:100%;height:100%;z-index:1001;background: rgba(0,0,0,0.7);
    #dialog {
        margin: auto auto;
        min-width:468px;
        // min-height:240px;
        background:white;
        padding:30px;
        border-radius:3px;
        @media #{$media-ipadSmall} {
            min-width:auto;
            margin-top: 10px;
        }

        > div {
            position:relative;margin:auto;
        
            .head {
                overflow:auto;
                padding-bottom:11px;
                border-bottom:1px solid $greyish;
                margin-bottom: 20px;
                h2 {
                    float: left;
                    font-size: rem(15);
                    font-weight:600;
                    margin-right:20px;
                }
                >a {
                    display:block;
                    float:right;
                    height:30px;
                    width:30px;
                    background:url("../icons/cross.svg");
                    background-repeat:no-repeat;

                }
            }

            // .dialogContent {
            //     p {
            //         margin-bottom: 40px;
            //     }
            // }


            .faq {
                font-size:rem(12);
                color:$greyish;
                font-style:italic;
            }

            .faq__link {
                color:$greyish;
                text-decoration: underline;
            }

            form {
                input[type=text], input[type=password], input[type=email] {
                    display:block;
                    border:none;
                    height: 44px;
                    padding: 7px;
                    width:100%;
                    margin-bottom:12px;
                    padding-left:15px;
                    border-radius:6px;
                    border: 1px solid $greyish;
                    background:white;


                    &::placeholder {
                        font-size: rem(14);
                        color:$greyish;
                    }
                    &::-webkit-input-placeholder {
                        font-size: rem(14);
                        color:$greyish;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        font-size: rem(14);
                        color:$greyish;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        font-size: rem(14);
                        color:$greyish;
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        font-size: rem(14);
                        color:$greyish;
                    }

                    &:disabled {
                        padding: 0px !important;
                        border: none;
                    }
                }

                .remember {
                    overflow:auto;
                    >div {
                        float:left;
                        @media #{$media-ipadSmall} {
                            float:none
                        }


                        label {
                            font-size:rem(12);
                            color:$greyish;
                            font-weight:normal;
                        }
                    }
                    >p.layout {
                        float:right;
                        font-size:rem(12);
                        color:$greyish;
                        font-style:italic;
                        
                        @media #{$media-ipadSmall} {
                            float:none
                        }

                        &:hover {
                            cursor:pointer;
                        }
                    }

                }
            }
        }
    }
}