
/* Begin footer style */

.c-footer {
    background: $white;
  
    &__top {
      margin-bottom: 30px;
      &-bar {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
  
        @media #{$tablet, $mobile} {
          @include flex-direction(column, vertical);
          @include align-items(flex-start);
          @include justify-content(flex-start);
        }
      }
    }
    &__logo {
      @media #{$tablet, $mobile} {
        margin-bottom: 30px;
      }
    }
  
    &__additionalInfo {
      @media #{$tablet, $mobile} {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        width: 100%;
      }
  
      &-btns {
        @media #{$mobile} {
          width: 100%;
          .c-button {
            @include calc(width, "100% / 2 - 12px");
            + .c-button {
              margin-left: 24px;
            }
          }
        }
      }
    }
  
    &__address {
      border-top: 1px solid rgba($grey3, 0.5);
      padding: 20px 0;
  
      &__heading {
        @include font-size(14);
        line-height: 1.3;
        font-weight: $weightBold;
        color: $black;
        margin-bottom: 8px;
      }
  
      &__content {
        @include font-size(14);
        line-height: 1.3;
        color: $black;
        font-weight: $weightRegular;
        a {
          color: $black;
          text-decoration: none;
        }
  
        &.address {
          max-width: 150px;
        }
      }
    }
  
    &__main {
      border-top: 1px solid rgba($grey3, 0.5);
      padding: 25px 0 80px;
      @media #{$mobile} {
        padding: 25px 0 20px;
      }
      &__container {
        margin-bottom: 28px;
        @media #{$mobile} {
          margin-bottom: 20px;
        }
        h3 {
          color: $black;
          @include font-size(16);
          line-height: 1.5;
          max-width: 190px;
          font-weight: $weightBold;
          margin-bottom: 6px;
        }
      }
    }
    &__responsive {
      border-top: 1px solid rgba($grey3, 0.5);
      padding: 15px 0;
    }
  }
  
  /* End footer style */