.c-header-4 {
    padding: 0 0 12px 0;
    // border-bottom: 1px solid $offwhite;
    z-index:20;
    position:relative;
    background:white;

    @media #{$tablet} {
        padding:0;
    }
    @media #{$mobile} {
        padding:0;
    }


    &__container {
        display: flex;
        flex-direction: column;
    }

    // this row is weather and date for tablet and up
    // but login and weather for mobile, so not easily named
    &__row2 {
        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(center);
        order:2;
    }


    &__mobile-login {
        flex:2;
        @include font-size(14);

    }
    

    &__mobile-subscribe {
        order:3;
        height: 25px;
        @include font-size(13);
        font-weight:$weightBold;
        line-height:25px;
        background: $mainColor;
        color:white;
        text-align:center;
        width: calc(100% + 40px);
        margin-left: -20px;
        >a{
            text-decoration: none;
            color:white;
            &:hover{
                color: $white;
            }
        }
        @media #{$tablet-up} {
            display:none;
        }
        
    }
    

    &__weather-info {
        margin: 15px 0;
        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(flex-end);
        @include justify-content(flex-start);
        
        @media #{$up-to-desktop} {
            display:none;
        }
        @media #{$desktop-up}{
            width: 25%;
            max-width: 25%;
            min-width: 25%;
        }

        &--date {
            @include font-size(13);
            flex:2;
            order:1;
            letter-spacing: 1px;
            color: $greyish;
            font-weight: $weightRegular;
            text-transform: uppercase;
            max-width: max-content;
            min-width: max-content;
            margin: 18px auto 10px;
            position: relative;

            @media #{$up-to-desktop} {
                display:none;
            }
        }
        >.weather-dropdown{
            right: unset;
            left: 0;
        }
    }


    &__login-text {
        @include font-size(16);
        font-weight: $weightMedium;
        color: $mainColor;
        @media #{$mobile} {
            color: $mainColor;
        }

        &:not(:last-child) {
            margin-right:7px;
            padding-right:7px;

            &:after {
                content: "";
                position: relative;
                left: 7px;
                top:1px;
                display:inline-block;
                height:13px;
                width:2px;
                background: $mainColor;
                @media #{$mobile} {
                    background: $mainColor;
                }
        
            }
        }

    }


    &__login-info {
        order:3;

        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(center);
        @include justify-content(flex-end);
        max-width:220px;
        min-width:220px;

        z-index: 9;
        @media #{$desktop-up}{
            min-height: 35px;
        }
        @media #{$tablet}{
            position:absolute;
            top: -10px;
            right: 0;
        }

        @media #{$mobile} {
            position:absolute;
            top:70px;
            right:15px;
        }
        @media #{$desktop-up}{
            width: 25%;
            max-width: 25%;
            min-width: 25%;
        }
    }


    &__main-info {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        order:4;
        position: relative;
        height:82px;
        width: 100%;
        margin-left: 0;

        @media #{$tablet}{
            flex-wrap:wrap;
            margin-top:20px;
        }
        @media #{$mobile} {
            height:60px;
            order:1;
        }

        &__logo {
            flex-grow:2;
            order:2;
            display: block;
            margin-left: auto;
            margin-right: auto;
            z-index: 10;
            max-width:400px;

            @media #{$tablet}{
                order:3;
                flex-grow:1;
            }
    

            @media #{$up-to-desktop}{
                margin-left: 0;
            }
            @media #{$mobile}{
                width: min-content; 
                max-width: min-content;
            }
            

        }
        &__figure{
            width: 100%;
            display: block;
            @media #{$mobile}{
                width: 75%;
            }
            >img{
                height: 54px;
                display: block;
                margin: auto;
                max-width: max-content;
                @media #{$mobile}{
                    height: 35px;
                }
                @media #{$tablet}{
                    margin-left: 0;
                }
            }
        }

    }

    &__fixed{
        display:block;
        width: 100%;
        position: fixed;
        z-index: 999;
        background-color: white;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.28);
        left: 0;
        -webkit-transition: top 0.5s; /* Safari */
        transition: top 0.5s;
        
        @media #{$desktop-up}{
            height: 105px;
            top: -150px;
            &--on{
                top: 0;
            }
        }
        @media #{$up-to-desktop}{
            height: 60px;
            top: -65px;
            &--on{
                top: 0;
            }
            &-block{
                margin: 0;
                border-bottom: none;
            }
        }

        >.c-header-4__main-info {
            
            @media #{$desktop-up}{
                @include flex-direction(column, vertical);
                margin-top:10px;
            }


            @media #{$tablet}{
                flex-wrap:unset;
                @include align-items(center);
                @include justify-content(flex-start);
                height:100%;
            }

            @media #{$mobile}{
                flex-wrap:unset;
                @include align-items(center);
                @include justify-content(flex-start);
                height:100%;
            }

        }

        >.c-header-4__main-info>.c-header-4__main-info__logo {
            max-width:none;
            order:unset;
        }
    }
    &__whitestrip{
        width: 100%;
        height: 55px;
        position: absolute;
        background-color: white;
        margin-top: -10px;
        // border-top: $grey 1px solid;

        @media #{$mobile}{
            display: none;
        }
    }

    &__main-nav{
        @media #{$desktop-up}{
            background: $mainColor;
            padding-bottom: 12px;
            margin-top: 10px;
        }
    }
    
}