.c-upload-image {
    float:left;
    height:53px;
    width:100%;

    cursor:pointer;
    border-radius:25px;
    padding:15px 8px;
    position:relative;
    text-align:center;
    border: 2px dashed $greyish;
    
    &__label {
        @include font-size(13);
        font-weight: $weightMedium;
        padding:0;
        margin:0;
        text-transform: uppercase;
        letter-spacing:normal;
    }

    &__restrictions {
        @include font-size(13);
        font-weight: $weightRegular;
        font-style:italic;
        padding:0;
        margin:0;
        letter-spacing:normal;
    }


    &.property {
        > div {
            padding-top: 30%;
                > div > p {
                padding-top: 5px;
            }

        }



    }
    &.events {
        > div {
            padding-top: 20%;
                > div > p {
                padding-top: 5px;
            }

        }
    }

}