/* Begin article style */

.c-article {
  &__edit-link {
    display: block;
    color: $mainColor;
    font-family: $primaryFont;
    @include font-size(12);
    line-height: 1.25;
    font-weight: $weightMedium;
    @include margin-bottom(20);
    @include padding(10);
    border: 1px solid $mainColor;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    text-align: center;
    background-color: $mainColor;
    color: white;
  }

  
  &__category {
    color: $mainColor;
    font-family: $primaryFont;
    @include font-size(12);
    line-height: 1.25;
    font-weight: $weightMedium;
    @include margin-bottom(6);
    text-transform: uppercase;
    letter-spacing: 0.9px;
  }

  &__address {
    color: $greyish;
    font-family: $primaryFont;
    @include font-size(22);
    letter-spacing: normal;
    margin-bottom: 15px;
  }
  &__features {
    border-top: 1px solid $offwhite;
    border-bottom: 1px solid $offwhite;
    padding: 12px 0;
    @include flexbox;
    @include flex-direction(row, horizontal);
  }

  &__feature {
    @include flexbox;
    @include flex-direction(row, horizontal);
    @include align-items(center);
    margin-right: 40px;
  }

  &__feature-icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-right: 10px;
    &--fill {
      > svg > g > g {
        path {
          fill: $mainColor;
        }
      }
    }
    &--stroke {
      > svg > g > g {
        path {
          stroke: $mainColor;
        }
      }
    }
  }

  &__feature-item {
    @include font-size(13);
    // font-style:italic;
    font-weight: $weightBold;
    &--count {
      color: black;
    }
  }

  &__feature-item--label {
    margin-right: 10px;
    display: none;
  }

  &__price {
    font-family: $primaryFont;
    @include font-size(13);
    color: #595859;
    font-weight: $weightMedium;
    text-transform: uppercase;
  }

  &__title {
    color: $black;
    font-family: $primaryFont;
    @include font-size(28);
    line-height: 1.14;
    font-weight: $weightBold;
    @include margin-bottom(20);
    letter-spacing: normal;
  }

  &__posted-on {
    @include margin-bottom(21);
    @include flexbox();
  }
  &__published {
    color: $greyish;
    font-family: $secondaryFont;
    @include font-size(12);
    line-height: 1.25;
    font-weight: $weightRegular;
    letter-spacing: normal;
    font-style: italic;
  }
  &__updated {
    color: $greyish;
    font-family: $secondaryFont;
    @include font-size(12);
    line-height: 1.25;
    font-weight: $weightRegular;
    letter-spacing: normal;
    font-style: italic;

    &:before {
      content: "|";
      display: inline-block;
      font-style: initial;
      @include margin(0 8);
    }
  }

  &__posted-by {
    border-top: 1px solid $offwhite;
    border-bottom: 1px solid $offwhite;
    @include padding(11 0);
    @include flexbox();
    @include align-items(center);
    @include margin-bottom(22);
  }
  &__avatar {
    width: 30px;
    height: 30px;
    @include border-radius(100%);
    background-position: center center;
    @include background-size(contain);
    @include margin-right(13);
    min-width: 30px;
  }
  &__author {
    @include flexbox();
    @include align-items(center);
    @media #{$mobile} {
      margin-top: 5px;
    }
  }

  &__author-name {
    color: $greyish;
    font-family: $primaryFont;
    @include font-size(13);
    line-height: 1.15;
    font-weight: $weightLight;
    letter-spacing: normal;
  }

  &__social-links {
    @include flexbox();
    @include align-items(baseline);
    @include justify-content(flex-end);
    min-width: 180px;
    @media #{$mobile} {
      margin-top: 5px;
      @include justify-content(flex-start);
    }
  }
  &__social-link {
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
    @media #{$mobile} {
      margin-left: 0;
      margin-right: 15px;
    }
  }

  &__excerpt {
    color: rgba(0, 0, 0, 0.7);
    font-family: $primaryFont;
    @include font-size(15);
    line-height: 1.6;
    font-weight: $weightUltabold;
    @include margin-bottom(23);
    letter-spacing: 0.8px;
  }
  &__subscribe-button {
    margin-right: 8px;
  }


  &__time {
    &-container {
      @include flexbox();
      @include justify-content(space-between);

      .c-article__social-links {
        @include justify-content(flex-start);
      }
    }
    &-info {
      @include flexbox();
      @include align-items(center);

      &--label {
        margin-left: 10px;
        @include font-size(12);
        color: $grey2;
        font-family: $primaryFont;
      }
    }
  }


  
  &__container {
    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $darkgrey;
      font-family: $primaryFont !important;
      font-size: 16px !important;
      line-height: 1.6 !important;
      font-weight: $weightRegular !important;
      letter-spacing: 0.5px !important;
      margin-bottom: 20px !important;
      word-wrap: break-word;

      * {
        line-height: 1.5 !important;
        letter-spacing: 1px !important;
        font-family: $primaryFont !important;
        word-wrap: break-word;
        margin-bottom: 0px !important;
      }
      span,
      b,
      u,
      a {
        color: $darkgrey ;
        font-family: $primaryFont !important;
        font-size: 16px !important;
        line-height: 1.6 !important;
        font-weight: $weightRegular !important;
        letter-spacing: 0.5px !important;
        margin-bottom: 20px !important;
        word-wrap: break-word;

        * {
          line-height: 1.5 !important;
          letter-spacing: 1px !important;
          font-family: $primaryFont !important;
          word-wrap: break-word;
          margin-bottom: 0px !important;
        }
      }
    }

    > span {
      color: $darkgrey !important;
      font-family: $primaryFont !important;
      font-size: 16px !important;
      line-height: 1.6 !important;
      font-weight: $weightRegular !important;
      letter-spacing: 0.5px !important;
      margin-bottom: 20px !important;
      word-wrap: break-word;

      * {
        line-height: 1.5 !important;
        letter-spacing: 1px !important;
        font-family: $primaryFont !important;
        word-wrap: break-word;
        margin-bottom: 0px !important;
      }
    }
    // h1,h2,h3,h4,h5,p,b,u,a{
    //     >span{
    //         color: $darkgrey !important;
    //         font-family: $primaryFont !important;
    //         font-size: 16px !important;
    //         line-height: 1.6 !important;
    //         font-weight: $weightRegular !important;
    //         letter-spacing: 0.5px !important;
    //         margin-bottom: 20px !important;
    //         word-wrap: break-word;

    //         * {
    //             line-height: 1.5 !important;
    //             letter-spacing: 1px !important;
    //             font-family: $primaryFont !important;
    //             word-wrap: break-word;
    //             margin-bottom: 0px !important;
    //         }
    //     }
    // }

    a {
      border-bottom: 1px solid $mainColor;
      @include transition(all 0.3s ease);
      font-family: $primaryFont !important;
      color: $mainColor;

      &:hover,
      &:focus {
        border-color: $transparent;
      }
    }

    blockquote,
    blockquote > p {
      color: $mainColor !important;
      font-family: $primaryFont !important;
      font-size: 22px !important;
      line-height: 1.45 !important;
      font-weight: $weightMedium !important;
      letter-spacing: 0.5px !important;
      display: block;
    }

    blockquote {
      margin-bottom: 44px !important;
      &:after {
        content: "";
        width: 76px;
        height: 1px;
        display: block;
        background: $greyish none repeat scroll 0 0;
        margin-top: 30px !important;
      }
    }

    img {
      left: 50%;
      position: relative;
      @include translate(-50%, 0);

      @media #{$media-ipadSmall} {
        width: 100% !important;
        height: auto !important;
      }
    }

    [style*="center"] {
      img {
        left: auto;
        @include translate(0, 0);
      }
    }

    img[style*="left"] {
      margin: 0 20px 40px 0 !important;
      max-width: 100%;
      left: auto;
      @include translate(0, 0);
      //width: auto;

      @media #{$media-ipadSmall} {
        margin: 20px 0 40px 0 !important;
      }
    }


    img[style*="right"] {
      
      margin: 0 0 40px 20px !important;
      max-width: 100%;
      left: auto;
      @include translate(0, 0);
      //width: auto;

      @media #{$media-ipadSmall} {
        margin: 20px 0 40px 0 !important;
      }
    }

    figure {
      position: relative;
      margin-top: 20px;
      margin-bottom: 40px;
      float: left;
      width: auto;
      left: 50%;
      @include translate(-50%, 0);

      img {
        &:not([width]) {
          max-width: 100%;
          width: 100%;
        }
      }

      figcaption {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        bottom: 0;
        left: 0;
        color: $greyish;
        font-size: 0.6875rem;
        font-style: italic;
        z-index: 30;
        padding: 10px 0px;
        font-family: $primaryFont !important;
      }
    }

    figure[style*="right"] {
      margin-right: 0px;
      margin-left: 20px;
    }

    figure[style*="right"],
    figure[style*="left"] {
      left: auto !important;
      @include translate(0%, 0);
      margin-right: 20px;
    }

    div[style*="text-align:center"],
    div[style*="text-align: center"] {
      overflow: hidden;
    }

    iframe {
      width: $viewportSize;
      height: calc((100vw - 30px) + 33vw);
      @media #{$desktop-up} {
        height: 1005px;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $black !important;
    }

    h1 {
      font-size: 26px !important;
      span,
      b,
      u,
      a {
        font-size: 26px !important;
      }
    }

    h2 {
      font-size: 24px !important;
      span,
      b,
      u,
      a {
        font-size: 24px !important;
      }
    }

    h3 {
      font-size: 22px !important;
      span,
      b,
      u,
      a {
        font-size: 22px !important;
      }
    }

    h4 {
      font-size: 20px !important;
      span,
      b,
      u,
      a {
        font-size: 20px !important;
      }
    }

    h5 {
      font-size: 18px !important;
      span,
      b,
      u,
      a {
        font-size: 18px !important;
      }
    }

    h6 {
      font-size: 16px;
      color: $black;
      margin-bottom: 20px;
      font-weight: $weightRegular;
      letter-spacing: 0.5px;
      span {
        // color: unset !important;
        // font-family: unset !important;
        // font-size: unset !important;
        // line-height: unset !important;
        // font-weight: unset !important;
        // letter-spacing: unset !important;
        // margin-bottom: unset !important;
        font-size: inherit;
        color: inherit;
      }
      u {
        text-decoration: underline;
      }
      b {
        font-weight: $weightBold;
      }
      a {
        font-family: inherit !important;
        font-size: inherit;
        color: inherit;
        font-weight: inherit;
        text-decoration: inherit;

        // border-bottom: none;
      }
    }

    ol,
    ul {
      overflow: hidden;
      margin-bottom: 20px;
      padding-left: 25px;

      li {
        width: 100%;
        float: left;
        list-style-position: outside;
        padding-left: 7px;
        margin-bottom: 10px;
        color: $darkgrey !important;
        font-family: $primaryFont !important;
        font-size: 16px !important;
        line-height: 1.6 !important;
        font-weight: $weightRegular !important;

        > p {
          margin-bottom: 0px;
        }
      }
    }

    ul li {
      list-style-type: disc !important;

      span {
        position: relative;
        left: -22px;
        font-family: $primaryFont !important;
      }
    }

    ol li {
      list-style-type: decimal !important;
    }

    // &--property {
    //     p,
    //     span,
    //     b,
    //     u,
    //     a {
    //         color: #595859 !important;
    //         font-family: $primaryFont !important;
    //         font-size: 15px !important;
    //         line-height: 1.6 !important;
    //         font-weight: $weightLight !important;
    //         letter-spacing: 0.5px !important;
    //         margin-bottom: 20px !important;
    //         word-wrap: break-word;

    //         * {
    //             line-height: 1.5 !important;
    //             letter-spacing: 1px !important;
    //             font-family: $primaryFont !important;
    //             word-wrap: break-word;
    //             margin-bottom: 0px !important;
    //         }
    //     }

    // }
  }

  @include responsive(sm) {
    .o-media__caption {
      position: absolute;
      bottom: 0;
      background: $white none repeat scroll 0 0;
    }

    // .c-article__container {
    //   img {
    //     margin-left: 0px;
    //     margin-right: 0px;
    //     margin-top: 30px;
    //     margin-bottom: 60px;

    //     &:not([width]) {
    //       max-width: 100%;
    //       width: 100%;
    //     }
    //   }
    // }
  }

  &__paywalled {
    .c-article__main {
      .c-article__paywalled-view {
        display: block;
      }
    }

    &-excerpt {
      .c-article__excerpt {
        max-height: 70px;
        overflow: hidden;
      }

      .c-article__container {
        display: none;
      }
    }

    &-container {
      .c-article__container {
        max-height: 70px;
        overflow: hidden;
      }

      .c-article__excerpt {
        display: none;
      }
    }

    &-view {
      position: relative;

      &:before {
        content: "";
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 30px 15px 5px;
        background: -moz-linear-gradient(
          to bottom,
          transparent 0,
          rgba(255, 255, 255, 0.66) 40%,
          #fff 100%
        );
        background: -webkit-linear-gradient(
          to bottom,
          transparent 0,
          rgba(255, 255, 255, 0.66) 40%,
          #fff 100%
        );
        background: linear-gradient(
          to bottom,
          transparent 0,
          rgba(255, 255, 255, 0.1) 0,
          #fff 100%
        );

        position: absolute;
        top: -110px;
        height: 110px;
        width: 100%;
      }

      &:after {
        display: none;
      }

      .o-paywalled {
        @include flexbox();
        @include flex-direction(column, verticle);

        &__head {
          color: $black;
          font-family: $primaryFont;
          @include font-size(28);
          line-height: 1.14;
          font-weight: $weightBold;
          @include margin-bottom(30);
          letter-spacing: normal;
        }

        &__action {
          @include flexbox();
          @include margin-bottom(30);
        }
        &__text {
          color: $greyish;
          @include font-size(15);
          font-weight: $weightMedium;
        }
        &__period {
          color: $greyish;
          font-family: $weightLight;
          @include font-size(15);
          line-height: 1.6;
          font-weight: $weightRegular;
          @include margin-bottom(30);
          letter-spacing: normal;

          a {
            display: block;
            @include font-size(12);
            text-decoration: underline;
            @include margin-top(14);
            color: $greyish;
            font-family: $primaryFont;
          }
        }
      }
    }

    @include responsive(md) {
      .o-paywalled__period {
        max-width: 290px;
        color: $greyish;
        font-family: $weightLight;
        @include font-size(15);
        line-height: 1.6;
        font-family: $primaryFont;
        @include margin-bottom(30);
        letter-spacing: normal;

        a {
          display: block;
          @include font-size(12);
          text-decoration: underline;
          @include margin-top(14);
          color: $greyish;
          font-family: $primaryFont;
          font-family: $weightRegular;
        }
      }

      .c-article__paywalled-view {
        &:after {
          content: "";
          display: block;
          right: -50px;
          margin: 0 auto;
          padding: 30px 15px 5px;
          @include linear-gradient(
            180deg,
            transparent,
            0,
            rgba(255, 255, 255, 0.66) 40%,
            #fff 100%
          );
          position: absolute;
          top: -110px;
          height: 185%;
          width: auto;
          z-index: 9;
        }
      }
    }
  }
}


/* End article style */
