.c-login-modal {
    margin-top: 20px;
    &__title {
        @include font-size(22);
        text-align:left;
        font-weight: $weightRegular;
        margin-bottom:28px;

    }


    &__password-link {
        @include font-size(11);
        color:$greyish;
        font-style:italic;
        text-align: right;
        display: block;
        margin-top: 7px;
    }

    &__subaction {
        @include font-size(11);
        margin-top:15px;

    }

    &__error {
        color: $blackred;
        margin-top:10px;
    }

}

a.c-login-modal__password-link {
    text-decoration: underline;
}
