.c-managed-user {
    position:relative;
    @include flexbox;
    @include padding-top(14);
    @include padding-bottom(14);
    @include align-items(flex-start);
    @include align-content(flex-start);
    @include justify-content(space-between);
    @include flex-direction(row, horizontal);
    @include flex-flow(row wrap);
    border-bottom:1px solid $border;
    
    &.text-center {
        width:100%;
        text-align:center;
        @include align-items(center);
        @include align-content(center);
        @include justify-content(center);
    }


    &__email {
        letter-spacing:normal;
        color:$greyish;
        @include font-size(13);
        margin:0;
    }
    &__close {
        @extend .x-close;
        opacity: .5;
        
        &--top {
            top:0 !important;
        }
    }
    // &__edit {
        
    // }

}

