.c-propertyarticle {

    &-agent{
        width: 100%;
        margin-top: 22px;
        border: solid 1px $offwhite;
        padding-bottom: 30px;

        &__imagebar{
            height: 37px;
            background-color: $mainColor;

        }

        &__image{
            width: 100%;
            position: relative;

            >img,>svg{
                position: absolute;
                left: calc(50% - 40px);
                right: calc(50% - 40px);
                height: 80px;
                width: 80px;
                margin-top: -22px;
                border-radius: 40px;
                // border: 2px $white solid;
            }
            >img{
                border: 2px $white solid;
            }
            >svg{
                circle{
                    fill: $mainColor;
                }
            }

        }

        &__name{
            font-size: rem(16);
            font-weight: bold;
            line-height: 1.31;
            text-align: center;
        }
        &__agency{
            font-size: rem(14);
            line-height: 1.29;
            color: $greyish;

            text-align: center;
        }

        &__phone{
            font-size: rem(13);
            line-height: 1.38;
            color: $mainColor;
            text-align: center;
        }

        &__emailbutton{
            padding: 14px 21px;
            border: 2px $mainColor solid;
            border-radius: 5px;
            display: flex;
            font-size: rem(13);
            line-height: 16px;
            color: $mainColor;
            margin: auto;
            width: max-content;
        }

        &__emailicon{
            width: 24px;
            height: 16px;
            margin-right: 10px;
            >svg{
                height: 100%;
                width: 100%;
                >g>path{
                    fill: $mainColor;
                }
                >g>g>g>path{
                    fill: $mainColor;
                }
            }
        }

    }

    &-inspection{
        &__title{
            font-weight: $weightBold;
            line-height: 1.22;
            font-size: rem(18);
            margin-bottom: 20px;
        }
        &__dateandtime{
            display: flex;
            line-height: 2;
            font-size: rem(12);
        }
        &__calicon{
            width: 20px;
            height: 20px;
            margin-right: 10px;
            >svg{
                height: 100%;
                width: 100%;
                >g>g>g>path{
                    fill: $mainColor;
                }
            }
        }
        &__text{
            line-height: 1.22;
            font-size: rem(14);
            color: $greyish;
        }
    }

    &-links{
        &__link{
            font-size: rem(12);
            font-weight: $weightBold;
            line-height: 2;
            color: $mainColor;
            text-transform: uppercase;
        }   
    }

    &-features{
        &__title{
            font-weight: $weightBold;
            line-height: 1.22;
            font-size: rem(18);
            margin-bottom: 20px;
        }
        &__feature{
            font-size: rem(15);
            line-height: 2;
            color: $greyish;
        }
    }

    &__map{
        width: 100%;
        >iframe{
            max-width: 100%;
            max-height:288px;
        }

    }
}