.c-header-1 {
    // padding-top: 10px;
    // padding-bottom: 20px;
    border-bottom: 28px $greyish solid;
    background-color: #e7e7e7;
    position: relative;
    height:209px;
    z-index:20;

    @media #{$tablet}{
        height:167px;
    }

    @media #{$mobile}{
        margin-top: 0;
        height:70px;
        margin-bottom: 100px;
        &:after {
            content:"";
            display:block;
            width:100%;
            height:1px;
            background:$offwhite;
            position:relative;
            top:60px;
        }
        border-bottom: none;
    }

    &__container {
        padding-top:20px;
        display: flex;
        flex-direction: column;

        @media #{$mobile} {
            padding-top:0;
        }
    }

    // this row is weather and date for tablet and up
    // but login and weather for mobile, so not easily named
    &__row2 {
        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(center);
        order:2;
        @media #{$mobile}{
            margin-bottom: -60px;
            // margin-top: 35px;
        }
        
    }


    &__mobile-login {
        flex:2;
        @include font-size(14);
        margin-top:20px;
        text-align:right;
        @media #{$tablet-up} {
            display:none;
        }
        // >a{
        //     color: $mainColor;
        //     color: lightness( $mainColor, 0.82);
        //     float: right;
        //     &:nth-child(1){
        //         margin-left: 10px;
        //         padding-left: 10px;
        //         border-left: 1px $mainColor solid;
        //     }
        // }
    }
    

    &__mobile-subscribe {
        order:3;
        height: 25px;
        @include font-size(13);
        font-weight:$weightBold;
        line-height:25px;
        background: $mainColor;
        color:white;
        text-align:center;
        width: calc(100% + 40px);
        margin-left: -20px;
        >a{
            text-decoration: none;
            color:white;
            &:hover{
                color: $white;
            }
        }
        @media #{$tablet-up} {
            display:none;
        }
    }
    

    &__weather-info {
        flex:1;
        margin: 15px 0;
        position:relative;
        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(flex-end);
        @include justify-content(flex-start);

        &--date {
            @include font-size(13);
            flex:2;
            letter-spacing: 1px;
            color: $white;
            font-weight: $weightRegular;
            position: absolute;
            top: 187px;
            left: 15px;
            text-transform: uppercase;
            @media #{$tablet}{
                top: 145px;
            }
        
            @media #{$mobile} {
                display:none;
            }
        }
         >div {
            @media #{$desktop-up} {
                position:absolute;
            }
         }
    }


    &__mini-menu-container {
        height:40px;
        display:flex;
    }
    &__mini-menu {
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-end);
        flex-wrap:wrap;
    }


    &__login-text {
        @include font-size(16);
        font-weight: $weightMedium;
        color: $mainColor;
        
        &:not(:last-child) {
            margin-right:7px;
            padding-right:7px;

            &:after {
                content: "";
                position: relative;
                left: 7px;
                top:1px;
                display:inline-block;
                height:13px;
                width:2px;
                background:$mainColor;
            }
        }

    }


    &__login-info {
        order:3;

        @include flexbox();
        @include flex-direction(row, horizontal);
        @include align-items(center);
        @include justify-content(flex-end);
        z-index:100;
        //margin-bottom: 20px;
        margin-top:25px;
        @media #{$desktop-up}{
            min-height: 35px;
        }
        @media #{$tablet} {
            margin-bottom: 10px;
            margin-top: 0;
        }
        @media #{$mobile} {
            margin-top: 15px;
            margin-bottom: -70px;
            >a{
                &:first-child{
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
    }


    &__main-info {
        @include flexbox();
        // @include align-items(center);
        @include align-items(flex-end);

        @include justify-content(space-between);
        order:4;
        margin-top: -15px;
        position: relative;
        

        &__logo {
            
            display: block;
            width: unset;
            margin-right: 40px;
            >img{
                // position:absolute;
                top:0;
                height: 100%;
                max-width: 370px;
                object-fit: scale-down;  
            }
            @media #{$desktop-up}{
                height: 65px;
            }
            @media #{$tablet}{
                >img{
                    height: 47px !important;
                    max-width: 280px !important;
                }

            }
            @media #{$mobile}{
                width: unset;
                margin-top: 0;
                >img{
                    height: 35px !important;
                    max-width: 220px !important;  
                }
                
            }
            
        }

        @media #{$tablet} {
            margin-top: 0px;
        }


        @media #{$mobile} {
            order:1;
            margin-top:0;
            @include align-items(center);

            // padding-bottom:12px;
       }
    }

    &__fixed{
        display:block;
        width: 100%;
        position: fixed;
        z-index: 999;
        background-color: $greyish;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.28);
        left: 0;
        -webkit-transition: top 0.5s; /* Safari */
        transition: top 0.5s;
        padding: 0 30px;
        .c-header-1__main-info {
            height:100%;
            @include align-items(center);
            margin-top:0;
            padding-bottom:0;
        }

        @media #{$desktop-up}{
            height: 75px;
            top: -80px;
            &--on{
                top: 0;
            }
            &-block{
                // margin: 15px auto;
                // width: 1254px;
                @media screen and (max-width: 1393px){
                    // width: 1100px;     
                }
                
            }
            
        }
        @media #{$up-to-desktop}{
            height: 60px;
            top: -65px;
            &--on{
                top: 0;
            }
            &-block{
                // margin: 10px 10px;
                // width: 95%;
                border-bottom: none;
            }
        }
    }
    &__whitestrip{
        width: 100%;
        height: 55px;
        position: absolute;
        background-color: white;
        margin-top: -10px;
        border-top: $grey 1px solid;

        @media #{$mobile}{
            display: none;
        }
    }


    &__polygon{
        background-color: $mainColor;
        position: absolute;
        z-index: 0;
        left:-50px;
        height: 100%;
        width: 40%;
        transform:skew(-21deg, 0);

        &--fixed{
            height: calc(100% + 10px);
        }
        @media #{$tablet}{
            transform:skew(-16deg, 0);
            width: 50%;
        }
        @media #{$mobile}{
            width: 90%;
            transform:skew(-21deg, 0);

            
        }
    }
}